
<h1> <%= @message.url %> </h1>

<p>
  Author: <%= @message.author %>
</p>

<p>
  <%= @message.content  %>
</p>

<p><strong>More from author</strong></p>
<p>
  <% message = Message.where(author: @message.author) %>
    <% message.each do |msg| %>
      <li><%= msg.content %></li>  
    <% end %>

</p>

<hr/>
<a href="/messages">Back to All Messages</a>